<div class="container-fluid scroll">
  <header>
    <div class="row bg-grape">
      <div class="col-2 center p-3">
        <img src="assets/icon/arrow.png" (click)="Click('pay')">
      </div>
      <div class="col-10 p-3">
        <h3 class="this">ADDRESS</h3>
      </div>
      <!-- <div class="col-3 p-3">
        <img src="assets/icon/add-to-cart.png" class="imgg">
      </div> -->
    </div>
  </header>
  <br>
  <form>
    <div class="card">
      <div class="row">
        <div class="col-12">
          <label>ชื่อผู้รับสินค้า</label>
          <input type="text" class="form-control input" id="exampleFormControlInput1">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="exampleFormControlTextarea1" class="form-label">ที่อยู่</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>หมายเลขโทรศัพท์</label>
          <input type="text" class="form-control input" id="exampleFormControlInput1">
        </div>
      </div>
      <div class="row">
        <div class="col-12 center">
          <br><br>
          <button type="button" class="btn btn-success" (click)="Click('pay')">บันทึก</button>
          <br><br>
        </div>
      </div>
      <br>
    </div>
  </form>
</div>
