<style>
  /* @import 'bootstrap/dist/css/bootstrap.min.css'; */
</style>
<div class="container-fluid scroll">
  <header>
    <div class="row bg-grape">
      <div class="col-9 p-3">
        <h3 class="h3">HISTORY</h3>
      </div>
      <div class="col-3 p-3">
        <img src="assets/icon/add-to-cart.png" class="img">
      </div>
    </div>
  </header>
  <br>

  <div class="card">
    <div class="row">
      <div class="col-12 ">
        <div class="btn-group btn-set" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked >
          <label class="btn btn-outline-success"
            for="btnradio1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำเร็จ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="Click('history/history-cancel')">
          <label class="btn btn-outline-success"
            for="btnradio2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div>
    <!-- <div class="row">
      <div class="col-12">
        <h5>สำเร็จ</h5>
      </div>
    </div> -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <h5>อเมริกาโน่</h5>
        </div>
        <div class="col-6">
          <h5 class="h5">50 บาท</h5>
        </div>
      </div>
      <div class="row again">
        <div class="col-6">
          <p class="date-time">08 ส.ค 17:38</p>
        </div>
        <div class="col-6 ">
          <button type="button" class="btn btn-success" (click)="Click('menu/menu-detail')">สั่งอีกครั้ง</button>
        </div>
      </div>
    </div>
    <p></p>
    <div class="card">
      <div class="row">
        <div class="col-6">
          <h5>อเมริกาโน่</h5>
        </div>
        <div class="col-6">
          <h5 class="h5">50 บาท</h5>
        </div>
      </div>
      <div class="row again">
        <div class="col-6">
          <p class="date-time">08 ส.ค 17:38</p>
        </div>
        <div class="col-6 ">
          <button type="button" class="btn btn-success ">สั่งอีกครั้ง</button>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <!-- <div>
    <div class="row">
      <div class="col-12">
        <h5>ยกเลิก</h5>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-6">
          <h5>อเมริกาโน่</h5>
        </div>
        <div class="col-6">
          <h5 class="h5">50 บาท</h5>
        </div>
      </div>
      <div class="row again">
        <div class="col-6">
          <p class="date-time">08 ส.ค 17:38</p>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="row">
        <div class="col-6">
          <h5>อเมริกาโน่</h5>
        </div>
        <div class="col-6">
          <h5 class="h5">50 บาท</h5>
        </div>
      </div>
      <div class="row again">
        <div class="col-6">
          <p class="date-time">08 ส.ค 17:38</p>
        </div>
      </div>
    </div>
  </div> -->
  <br><br><br><br><br><br><br><br>
</div>
