h4 {
  margin-left: 8%;
  margin-top: 5%;
  color: #27253d;
}

.detail {
  margin-left: 8%;
  margin-right: 6%;
  margin-top: -5%;
  font-size: 87%;
  font-weight: 100;
  text-align: justify;
  color: #27253d;
}

.price {
  margin-left: 15%;
  margin-top: 15%;
  margin-right: 15%;
  font-size: 100%;
  font-weight: 100;
  text-align: right;
  color: #27253d;
}

.area{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: -6%;
}

.emergency{
  margin-left: 8%;
  margin-top: 3%;
  width: auto;
}

.option{
  font-size: 97%;
  font-weight: 100;
}

h5 {
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 22px;
  color: #27253d;
}

.center {
  text-align: center;
}

hr {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.img {
  width: 100%;
  height: auto;
}


.radio {
  margin-left: 16%;
  font-size: 100%;
  font-weight: 100;
  color: #27253d;
}

.radio-sweet {
  margin-left: 8%;
  font-size: 100%;
  font-weight: 100;
  color: #27253d;
}

.radio-price {
  margin-right: 16%;
  text-align: right;
  font-size: 100%;
  font-weight: 100;
  color: #27253d;
}

table{
  margin-left: 9%;
}

.basket{
  margin-top: 10%;
  width: 90%;
}

.input{
 width: 100%;
}

/* hr{
  margin-top: 10%;
} */
