<div class="container-fluid scroll">
  <header>
    <div class="row bg-grape">
      <div class="col-2 center p-3">
        <img src="assets/icon/arrow.png" (click)="Click('menu/detail')">
      </div>
      <div class="col-10 p-3">
        <h3 class="this">YOUR CART</h3>
      </div>
      <!-- <div class="col-3 p-3">
        <img src="assets/icon/add-to-cart.png" class="imgg">
      </div> -->
    </div>
  </header>
  <br>
  <div class="card">
    <div class="row">
      <div class="col-4">
        <img src="assets/img/Americano.jpg" class="img-fluid img-product">
      </div>
      <div class="col-8">
        <table>
          <tr>
            <td colspan="3">
              <p class="text center">อเมริกาโน่</p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <img src="assets/icon/minus.png" class="icon">
            </td>
            <td>
              <input type="number" class="form-control input" id="exampleFormControlInput1">
            </td>
            <td>
              <img src="assets/icon/plus.png" class="icon">
            </td>
          </tr>
        </table>
      </div>
      <hr>
      <!-- <div class="col-2">
        <br>
        <img src="assets/icon/minus.png" class="minus">
      </div>
      <div class="col-4">
        <br>
        <input type="number" class="form-control input" id="exampleFormControlInput1">
      </div>
      <div class="col-2">
        <br>
        <img src="assets/icon/plus.png" class="plus">
      </div> -->
    </div>
    <div class="row">
      <div class="col-4">
        <img src="assets/img/Americano.jpg" class="img-fluid img-product">
      </div>
      <div class="col-8">
        <table>
          <tr>
            <td colspan="3">
              <p class="text center">อเมริกาโน่</p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <img src="assets/icon/minus.png" class="icon">
            </td>
            <td>
              <input type="number" class="form-control input" id="exampleFormControlInput1">
            </td>
            <td>
              <img src="assets/icon/plus.png" class="icon">
            </td>
          </tr>
        </table>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12">
        <h5 class="head">รายการที่สั่งซื้อ</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="name">อเมริกาโน่</p>
      </div>
      <div class="col-6">
        <p class="price">50</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h5 class="total">รวม</h5>
      </div>
      <div class="col-6">
        <h5 class="total-price">50 บาท</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 center">
        <button type="button" class="btn btn-success submit" (click)="Click('pay')">ยืนยันการสั่งสินค้า</button>
      </div>
    </div>
  </div>
</div>
<br>
<br><br><br><br><br>
