<div class="container-fluid">

  <footer class="fixed-bottom bg-grape center">
    <div class="row">
      <div class="col-3"><br>
        <a routerLink="/home">
          <!-- <a href=(click)="next('home')"> -->
          <img src="assets/icon/home.png">
          <p class="p-1">Home</p>
          <!-- </a> -->
        </a>
      </div>
      <div class="col-3"><br>
        <a routerLink="/menu">
          <img src="assets/icon/menu.png">
          <p class="p-1">Menu</p>
        </a>
      </div>
      <div class="col-3"><br>
        <a routerLink="/history">
          <img src="assets/icon/history.png">
          <p class="p-1">History</p>
        </a>
      </div>
      <div class="col-3"><br>
        <a routerLink="/user">
          <img src="assets/icon/user.png">
          <p class="p-1">Profile</p>
        </a>
      </div>
    </div>
  </footer>
</div>
<router-outlet></router-outlet>
