<style>
  /* @import 'bootstrap/dist/css/bootstrap.min.css'; */
</style>
<div class="container-fluid scroll">
  <header>
    <div class="row bg-grape">
      <div class="col-12 p-3">
        <h3 class="h3">PROFILE</h3>
      </div>
      <!-- <div class="col-3 p-3">
        <img src="assets/icon/add-to-cart.png" class="imgg">
      </div> -->
    </div>
  </header>
  <br>
  <div class="card">
    <div class="row">
      <div class="col-12">
        <img id="pictureUrl" width="100%"><br>
        <p id="name"><b>ชื่อ : </b> </p>
        <p id="decodedIDToken"><b>E-mail : </b> </p>
      </div>
    </div>
  </div>
</div>
